@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root{
    --var--background: #03035d;
}
html, body{
    height: 100%;
}
.fa-html5{
    color: #e75c22;
}

.fa-css3{
    color: #2D53E5;
}
.fa-js{
    color: #F7E025;
}
.fa-bootstrap{
    color: #533B78;
}
.fa-git{
    color: #3F2E00;
}
.fa-github{
    color: #000;
}
#logo{
    font-family: "Lobster", sans-serif;
}
#h1_apresentação{
    font-family: "Lobster", sans-serif;
}
header{
    background: var(--var--background);
}
main{
    background: var(--var--background);
    height: 90%;
}
#h2_portfolio{
    background-color:  var(--var--background);
    color: white;
    font-family: "Lobster", sans-serif;;
}
.subtitle>h3{
    background-image: linear-gradient(to right, var(--var--background), white);
    color: white;
    padding: 5px;
}
.subtitle>p{
    text-indent: 40px;
    text-align: justify;
}
footer{
    background-color: var(--var--background);
}

a{
    text-decoration: none;
    
}
@media (max-width: 575.98px) { 
    #h3_ola{
        font-size: 25px;
    }
    #h1_apresentação{
        font-size: 3.5em;
    }
    .subtitle>h3{
        font-size: 25px;
    }
    #skills-list{
        padding: 15px;
    }
    .fa-brands{
        font-size: 1.8em;
    }
    .p-lista{
        font-size: 12px;
    }
}
