@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif;
}
body{
    min-width: 400px;
}
header{
    position: relative;
    height: 15.2em;
    min-height: 260px;
    max-width: 1200px;
    min-width: 780px;
    margin-top: 10px;
    margin-left: 10px;
    margin: auto;
    
}
#area-logo{
    position: absolute;
    background: url(../img/topo-imagem-principal.png) no-repeat;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 260px;
    background-color: antiquewhite;
}
#img-logo{
    margin-top: 5px;
    margin-left: 15px;
}
nav{
    background: url(../img/topo-imagem-lateral.png) no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 460px;
    height: 260px;
}
#div-topo{
    width: 80%;
    margin: auto;
    margin-top: 10px;
}
hr{
    margin: 5px;
}
h5#locais{
    color: #96904B;
    display: inline;
    margin:  5px;
    
}
#btn_reservar{
    padding: 6px 5px;
    color: white;
    background-color: #96904B;
    text-transform: uppercase;
    font-weight: bold;
}
#btn_reservar:hover{
    background-color: #e1ddc1;
    color: #96904B;
}
ul{
    list-style-position: inside;
    list-style: none;
    float: left; 
    margin-left: 15%;
}
li{
    margin-top: 10px;
    text-decoration: none; 
}
li a{
    text-decoration: none;
    font-weight: bold;
    color: #96904B;
}
li a:hover{
    color: white;
}
img#img-frase{
    float: right;
    width: 50%;
    margin-top: 10px;
    margin-left: 5px;
}
main{
    min-height: 420px;
    max-height: 800px;
    min-width: 780px ;
    width: 85%;
    margin: auto;
    margin-top: 10px;
    background: #eeead0 
    url(../img/bg-area-principal.png) repeat-x;    
}
#artigo-principal{
    padding: 10px;
    float: left;
    width: 50%;
    text-align: justify;
    min-width: 250px;
}
#artigo-principal>h2{
    margin-top: 10px;
}
#artigo-principal>p{
    margin-top: 10px;
    text-indent: 20px;
}
section{
    min-height: 400px;
    max-height: 800px;
    padding: 10px;
    float: right;
    width: 44%;
    background: #ddd9ba url(../img/bg-area-lateral.png) repeat-x;
}
.card{ 
    float: left;
    min-height: 100px;
    min-width: 300px;
    margin-top: 10px;
}
.card:hover{
    background: none;
    background-color: #E4DFC4;
    cursor: pointer;
}
.card img{
    width: 35%;
    float: left;
}
.card h4{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.card p{
    margin-left: 10px;
    float: left;
    width: 50%;
}
br {
    clear: both;
}
footer{
    margin: auto;
    width: 85%;
    clear: both;
    text-align: center;
    margin-top: 30px;
    background-color: #96904B;
    color: white;
    padding: 10px 3px;
}
footer a{
    color: white;
    text-decoration: none;
    padding: 7px 3px;
}
footer a:hover{
    background-color: #e1ddc1;
    color: #96904B;
}