*{
    margin: 0px;
    padding: 0px;
}
ul {
    list-style: none;
    float: left;
    background: url(../img/fundo-horizontal.png) repeat-x;
}
ul li {
    float: left;
    background: url(../img/divisor.png) repeat-y;
}
/* Não colocar padding onde não precisa */
li a {
    line-height: 2em;
    padding: 0 20px;
    display: block;
    color: white;
    text-decoration: none;
    
}
li a:hover, .selecionado{
    background: none;
    background-color: aqua;
}